body {
    --bg-color: #FFFFFF;
    --bg-secondary-color: #141414;
    --text-color: #000000;
    --text-secondary-color: #FFFFFF;
    --text-name-galary-color: #999999;
    --seporator-color:  #E6E6E6;
    --base-font-size: 16px;
    --img--title-font-size: 20px;
    --base-line-height: 24px;
    --font-family-secondary: 'Tenor Sans', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
    background-color: var(--bg-color);
    color: var(--text-color);
}

.wrapper {
    width: 100%;
    display: grid;
    grid-template: minmax(98px, auto) 1fr minmax(617px, auto) / 1fr;
    grid-template-areas: 
        "header"
        "main"
        "footer";
}

.container {
    max-width: 1201px;
    margin: 0 auto;
    padding-right: 30px;
    padding-left: 30px;
}

.mobile-menu {
    display: none;
}

.mobile-menu.visible {
    display: block;
}

.mobile-menu-row {
    display: flex;
    position: fixed;
    gap: 50px;
    padding: 30px 33px;
    right: 0;
    top: 0;
    z-index: 2;
    background-color: var(--bg-color);
    box-shadow: 0 0 6px 0px #00000044;
}

.mobile__row {
    display: flex;
    flex-direction: column;
    min-height: 200px;
}

.mobile-nav {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#close-menu-btn {
	background-color: transparent;
    border: none;
}

#close-menu-btn img {
    width: 27px;
    height: auto;
}

#open-menu-btn {
    display: none;
	background-color: transparent;
    border: none;
}

#open-menu-btn img {
    width: 33px;
    height: auto;
}

.header {
    grid-area: header;
    border-bottom: 1px solid var(--seporator-color);
    background-color: var(--bg-color);
    position: sticky;
    z-index: 1;
    top: 0;
}

.header-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 33px;
    padding-bottom: 33px;
}

.header__list {
    display: flex;
    margin: 0;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.header__list li {
    list-style-type: none;
}

.nav__item {
    font-size: 14px;
    line-height: var(--base-line-height);
    text-decoration: none;
    color: var(--text-color);
    display: inline-block;
    transition: all 300ms ease;
}
.nav__item:hover {
    color: var(--text-name-galary-color);
}

.nav__item::after {
    content: "";
    display: block;
    width: 0%;
    background-color: var(--text-name-galary-color);
    height: 1px;
    transition: all 300ms ease;
}

.nav__item:hover::after {
    width: 100%;
}

@media (max-width: 670px) {
    .header__list {
        display: none;
    }

    #open-menu-btn {
        display: block;
    }
}

.main {
    grid-area: main;
}

.illustration {
    padding-top: 60px;
    padding-bottom: 90px;
    border-bottom: 1px solid var(--seporator-color);
}

.galary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 51px;
}

.galary__body {
    display: flex;
    gap: 28px;
    flex-direction: column;
}

@media (max-width: 1240px) {
    .main__img img {
        height: auto;
        aspect-ratio: auto 721 / 474;
        width: 621px;
    }

    .galary__body {
        gap: 0;
        width: 100%;
        justify-content: space-between;
    }
}

.galary__img img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.galary__name {
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--text-name-galary-color);
}

h1 {
    margin: 0;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    font-family: var(--font-family-secondary);
    font-weight: 400;
}

.galary__desc {
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
    color: #666666;
}

.galary__link a {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 700;
    transition: all 300ms ease;
}

.galary__link a:hover {
    color: var(--text-name-galary-color);
}

@media (max-width: 1052px) {
    .galary {
        flex-direction: column;
        gap: 18px;
        justify-content: center;
    }

    .galary__body {
        gap: 18px;
    }

    .main__img img {
        max-width: 100%;
        height: auto;
        width: 100%;
    }
}

.galary__illustration {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(387px, 1fr));
    padding-top: 60px;
}

.galary__card {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.galary__card > .galary__img img {
    transition: all 300ms ease;
}

.galary__card > .galary__img:hover img {
    transform: scale(105%);
}

.galary__text {
    font-size: var(--img--title-font-size);
    line-height: var(--base-line-height);
    text-transform: uppercase;
    font-family: var(--font-family-secondary);
}

.galary__text a {
    color: var(--text-color);
    text-decoration: none;
    transition: all 200ms ease;
}

.galary__text a:hover {
    color: #666666;
}

.latest {
    padding-top: 90px;
    padding-bottom: 90px;
    border-bottom: 1px solid var(--seporator-color);
}

.galary__title {
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--text-name-galary-color);
    padding-bottom: 30px;
}

.galary__latest {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 50px;
}

.button-latest {
    width: 100%;
    text-align: center;
    padding-top: 90px;
}

.post-btn {
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    background: var(--bg-color);
    border: 1px solid var(--bg-secondary-color);
    padding: 21px 26px 21px 26px;
    transition: all 300ms ease;
}

.post-btn:hover{
    background-color: var(--bg-secondary-color);
    cursor: pointer;
}

.post-btn:active {
    transform: scale(95%);
}

.post-btn a {
    text-decoration: none;
    color: var(--text-color);
    transition: all 300ms ease;
}

.post-btn:hover a{
    color: var(--text-secondary-color);
}

@media (max-width: 670px) {
    .galary,
    .galary__card {
        display: grid;
        grid-column-gap: 20px;
        grid-row-gap: 50px;
        grid-template-columns: repeat(auto-fit, 487px);
        justify-content: center;
    }

    .galary__latest {
        grid-template-columns: 1fr;
    }
}

.featured {
    padding-top: 90px;
    padding-bottom: 90px;
}

.galary__featured {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(590px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 50px;
}

.footer {
    grid-area: footer;
    background-color: var(--bg-secondary-color);
    color: var(--text-secondary-color);
}

.footer-block {
    display: grid;
    grid-template: auto auto auto / 1fr;
    padding-top: 93px;
    padding-bottom: 95px;
}

.footer__copy {
    display: flex;
    column-gap: 15px;
    border-bottom: 1px solid #4D4D4D;
    padding-bottom: 62px;
    align-items: self-start;
}

.footer__information {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    gap: 20px
}

.info__categories {
    display: flex;
    flex-direction: column;
}

.copy__text {
    align-self: flex-end;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--text-name-galary-color);
}

.info__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info__title {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #666666;
}

.info__links {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.info__item {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding-top: 20px;
}

.info__item li {
    list-style-type: none;
}

.info__link {
    font-size: 14px;
    line-height: var(--base-line-height);
    color: var(--text-secondary-color);
    text-decoration: none;
    transition: all 200ms ease;
}

.info__link:hover {
    color: var(--text-name-galary-color);
}

.footer__form {
    display: flex;
    flex-direction: row;
    gap: 48px;
}

.footer__form input {
    width: 100%;
    padding: 18px 24px 18px 24px;
    border: none;
    outline: none;
}

.footer__form input::placeholder {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #666666;
}

.btn-send {
    border: none;
    background-color: var(--text-color);
    width: 100%;
    padding: 18px 24px 18px 24px;
    transition: all 300ms ease;
}

.btn-send a {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--text-secondary-color);
    text-decoration: none;
    transition: all 300ms ease;
}

.btn-send:active {
    transform: scale(95%);
}

.btn-send:hover {
    background-color: var(--bg-color);
    border-left: 1px solid var(--bg-secondary-color);
}

.btn-send:hover a {
    color: #666666;
}

.footer__contacts {
    display: flex;
    flex-direction: row;
    gap: 135px;
    padding-top: 70px;
}

@media (max-width: 1052px) {
    .info__links {
        width: 100%;
        justify-content: space-between;
        gap: 50px;
    }

    .footer__information {
        flex-wrap: wrap;
        gap: 30px;
    }

    .footer__contacts {
        justify-content: space-between;
        padding-top: 30px;
    }
}

@media (max-width: 670px) {
    .info__links {
        flex-direction: column;
        gap: 10px;
    }
}