body {
    --bg-color: #E5E5E5;
    --bg-secondary-color: #141414;
    --text-color: #000000;
    --text-secondary-color: #FFFFFF;
    --seporator-color:  #E6E6E6;
    --base-font-size: 16px;
    --base-line-height: 24px;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
    background-color: var(--bg-color);
    color: var(--text-color);
}